<section id="home-slider">
		<div class="container">
				<div class="row">
						<div class="main-slider">
								<div class="slide-text">
										<h1>LEARN | ENGAGE | INSPIRE</h1>
										<p>Let Edulage be your Training & Education Partner. Unlock Your Potential !
											With a team of experienced professional.</p>
										<a href="javascript:void(0)" onclick="window.scrollTo(0, 9999)" class="btn btn-common" target="_blank">Contact Us</a>
								</div>
								<img src="images/home/slider/about_page_header.png" class="slider-hill" alt="slider image">
								<!-- <img src="images/home/slider/about_page_header.png" class="slider-house" alt="slider image"> -->
								<!-- <img src="images/home/slider/sun.png" class="slider-sun" alt="slider image"> -->
								<img src="images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
								<img src="images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
						</div>
				</div>
		</div>
		<div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<!--/#home-slider-->

<section id="services">
		<div class="container">
				<div class="row">
						<div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
								<div class="single-service">
										<div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
												<img src="images/aboutus/indutrail-training.png" alt="">
										</div>
										<h2>Industrial Training & Certification</h2>
										<p>Learn Software Development & Work on live products. Get Industrial Training Certificate.</p>
								</div>
						</div>
						<div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
								<div class="single-service">
										<div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
												<img src="images/aboutus/research-learning.png" alt="">
										</div>
										<h2>Research & Learning Tools</h2>
										<p>We provide multiple online learning tools from Edulage and free resources available online to everyone. We also explore open software and products for research and development.</p>
								</div>
						</div>
						<div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
								<div class="single-service">
										<div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
												<img src="images/aboutus/classroom.png" alt="">
										</div>
										<h2>Classroom Education</h2>
										<p>With a team of renowned faculties & over 15 years of Teaching Experience. Come and learn new skills on any of our multiple classroom learning centers.</p>
								</div>
						</div>
				</div>
		</div>
</section>
<!--/#services-->

<section id="action" class="responsive">
		<div class="vertical-center">
				 <div class="container">
						<div class="row">
								<div class="action take-tour">
										<div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
												<h1 class="title">Indus - An Industrial training & certification program by Edulage.</h1>
												<p>Get ready to solve real life probelms using latest technologies and learn in the meantime, with the benefit of getting industrial training certification & much more..</p>
										</div>
										<div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
												<div class="">
													<!-- <div class="tour-button"> -->
														<a href="mailto:datosplay@outlook.com" class="btn btn-common">Write Us For More Details</a>
												 </div>
										</div>
								</div>
						</div>
				</div>
		</div>
</section>
<!--/#action-->

<section id="features">
		<div class="container">
				<div class="row">
						<div class="single-features">
								<div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
										<img src="images/aboutus/think-beyond.png" class="img-responsive" alt="">
								</div>
								<div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
										<h2>Think beyond</h2>
										<P>Our technology experts will make you think beyond your ideas and let you accomplish
											your projects with the help of exploring latest & future technologies</P>
								</div>
						</div>
						<div class="single-features">
								<div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
										<h2>Ideas to Products</h2>
										<P>Not just projects, We will guide & help you make products.</P>
								</div>
								<div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
										<img src="images/aboutus/think-beyond.gif" class="img-responsive" alt="">
								</div>
						</div>
						<div class="single-features">
								<div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
										<img src="images/aboutus/human.png" class="img-responsive" alt="">
								</div>
								<div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
										<h2>Be Experienced & Enthusiastic</h2>
										<P>At the end you will find yourself to be in the top 1% of your competition.</P>
								</div>
						</div>
				</div>
		</div>
</section>
 <!--/#features-->

<section id="clients">
		<div class="container">
				<div class="row">
						<div class="col-sm-12">
								<div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
										<p><img src="images/home/clients.png" class="img-responsive" alt=""></p>
										<h1 class="title">Our Projects & Products</h1>
										<p>We have been working on learning - engaging & inspiring people for solving real life problems using cutting edge latest technologies.</p>
								</div>
								<div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
										<div class="col-sm-2">
												<!-- <a href="#"><img src="images/home/client1.png" class="img-responsive" alt=""></a> -->
												<span><b>DatosPlay</b>: Data to Intelligence</span>
										</div>
										<div class="col-sm-2">
												<!-- <a href="#"><img src="images/home/client2.png" class="img-responsive" alt=""></a> -->
												<span><b>ae-like</b>: What you will like from what you like</span>
										</div>
										 <div class="col-sm-2">
												<!-- <a href="#"><img src="images/home/client3.png" class="img-responsive" alt=""></a> -->
												<span><b>TestWay</b>: Next-gen examination & assessment platform</span>
										</div>
										 <div class="col-sm-2">
												<!-- <a href="#"><img src="images/home/client4.png" class="img-responsive" alt=""></a> -->
												<span><b>Comm-U</b>: A society management and collaboration platfrom</span>
										</div>
										 <div class="col-sm-2">
												<!-- <a href="#"><img src="images/home/client5.png" class="img-responsive" alt=""></a> -->
												<span><b>Plasma-Biotech</b>: Analyze various human diseases & health issues</span>
										</div>
										 <div class="col-sm-2">
												<!-- <a href="#"><img src="images/home/client6.png" class="img-responsive" alt=""></a> -->
												<span><b>e-School</b>: A School management platform for seamless learning</span>
										</div>
								</div>
						</div>
				</div>
		</div>
 </section>
<!--/#clients-->
